---
layout: default
class: "default"
title: Web Design, Development &amp; Marketing
description: Infinitus Marketing + Technology is a Newfoundland Web Development Marketing Agency. We offer custom, strategic web design and production services, SEO, social media marketing, and mobile marketing solutions to clients in Newfoundland, Canada, and globally. 
---

{% include newsletter-signup.html %}

	<!-- Opening paragraph -->
	<section class="openingParagraph">
		<div class="container">
			<h3>You use relationships to grow your organization.</h3>
			<h5>Now, build a community.</h5>
			<div class="center">
				<p>Even if you don’t consider yourself “tech savvy,” you know that there are opportunities to grow your organization’s impact in a record-setting way. You’ve never let anything get in the way of your goals before. (Some call you lucky, but you know better.)</p>
				<p>You know that great work takes a great team. Since you don’t have an army of marketers, programmers and designers - that’s where we come in. If you have a big idea for a new website, mobile app, online marketing strategy, content creation or other digital asset, we can help you make it happen.</p>
				
					<a href="" class="btn">How it works</a>
				
			</div>
		</div>
	</section><!-- @end of Opening Paragraph -->
	
	
	<section class="matched-height featured-posts">
		{% for post in site.categories['podcast'] limit:1 %}
        {% if site.categories contains 'podcast'  %}
		<div class="half slab" style="background: url('{{ post.image }}') no-repeat center; background-size: 100%;">
				<h4>Latest Podcast</h4>
				<a href="{{ post.url }}">
  				<h3>{{ post.title }}</h3>
                </a>
                <p>{{post.excerpt}}</p>
				<a href="{{post.url}}" class="btn btn-transparent">Listen to more</a>
		</div>		
               {% else %}
		<div class="half slab">
                <a href="{{ post.url }}" class="btn btn-sml btn-alt">No Podcasts available</a>
		</div>
		   {% endif %}
		{% endfor %}
		<div class="half slab dark">
		<h4>Latest On The Blog</h4>
		{% for post in site.categories['blog'] limit:1 %}
		{% if site.categories contains 'blog' %}
             <a href="{{ post.url }}"> 
				<img src="{{ post.image }}">
			<h3>{{ post.title }}</h3>
            </a>
            {{post.excerpt}}
			<a href="{{post.url}}" class="btn">Keep Reading</a>
			{% else %}
                <a href="{{ post.url }}" class="btn btn-sml btn-alt">No Articles available</a>
			   {% endif %}
			{% endfor %}
		</div>
	</section>
	
	
	<!-- Featured Case Study -->
	<section class="featured-case-study">
		<blockquote class="featured-case-study-quote">
			<h3>He’s helped shape our strategy on how to attract people online and engage our audience.</h3>
			<cite>Ron Ellsworth, Owner - Ellsworth Group of Companies</cite>
		</blockquote>
		<a href="" class="btn btn-transparent">Read the Case Study</a>	
	</section>	
	<!--@end of Featured Case Study -->	
	
	{% include clientlogos.html %}

	<section class="what-not-to">
		<div class="container center">
			<h3>Want more?</h3>
			<p>We believe that by sharing knowledge, everyone benefits. This is why we've included a series of information in various formats for you to discover, learn and benefit from.</p>
			<ul class="inline-list">
				<li><span class="icon-bookmarks"></span></li>
				<li><span class="icon-book"></span></li>
				<li><span class="icon-film"></span></li>
				<li><span class="icon-podcast"></span></li>
			</ul>	
		</div>	
	</section>

