---
layout: default
class: "default"
title: Web Design, Development &amp; Marketing
description: Infinitus Marketing + Technology is a Newfoundland Web Development Marketing Agency. We offer custom, strategic web design and production services, SEO, social media marketing, and mobile marketing solutions to clients in Newfoundland, Canada, and globally. 
---

{% include newsletter-signup.html %}

	<!-- Opening paragraph -->
	<section class="openingParagraph">
		<div class="container">
			<h3>Augment your team with our experts.</h3>
			<div class="center">
				<p>You know that great work takes great people. When you have a big idea for a new website, mobile app, online marketing strategy or other digital project, we can help you make it happen. Since you don’t have an army of strategists, marketers, engineers and designers, that’s where we come in. </p>
				<p>You might not consider yourself tech savvy, but you know what you want. You know that there are opportunities to grow your organization’s impact in a record-setting way. You’ve never let anything get in the way of your goals before. Let’s make those goals a reality.</p>
				
					<a href="{{ site.baseurl }}how-we-help" class="btn">How We Help</a>
				
			</div>
		</div>
	</section><!-- @end of Opening Paragraph -->
	
	
	<section class="matched-height featured-posts">
        {% if site.categories contains 'podcast'  %}
		<div class="half slab slab-podcast">
				<h5>Latest Podcast</h5>
				{% for post in site.categories['podcast'] limit:1 %}
				<a href="{{ post.url }}">
					<div class="imgContainer">
						<img src="{{ post.image }}">
					</div>	
  				<h4>{{ post.title }}</h4>
                </a>
                <p>{{post.excerpt}}</p>
				<a href="{{site.baseurl}}{{post.url}}" class="btn btn-transparent">Listen</a>
				{% endfor %}
				<ul class="podcast-list">
				{% for post in site.categories['podcast'] offset:1 limit:3 %}
				<li>
				<a href="{{ post.url }}">
					<div class="imgContainerSecondary">
						<img src="{{ post.image }}">
					</div></a>
				</li>	
				{% endfor %}
				</ul>
		</div>		
               {% else %}
		<div class="half slab">
                <a href="{{ site.baseurl }}resources" class="btn btn-sml btn-alt">No Podcasts available</a>
		</div>
		   {% endif %}
		<div class="half slab dark">
		<h5>Latest On The Blog</h5>
		{% for post in site.categories['blog'] limit:1 %}
		{% if site.categories contains 'blog' %}
             <a href="{{ post.url }}"> 
			<h4>{{ post.title }}</h4>
            </a>
            {{post.excerpt}}
			<a href="{{post.url}}" class="btn">Keep Reading</a>
			{% else %}
                <a href="{{ site.baseurl }}resources" class="btn btn-sml btn-alt">No Articles available</a>
			   {% endif %}
			{% endfor %}
		</div>
	</section>
	
	
	<!-- Featured Case Study -->
	<section class="featured-case-study">
		<blockquote class="featured-case-study-quote">
			{% for client in site.data.casestudies %}
			  {% if client.id == 'clarenville' %}
				<h3>{{ client.quote }}</h3>
				<cite><div class="img-thumbnail-circle"><img src="{{client.clientimage}}"></div>{{client.author}}</cite>
				{% endif %} 
			{% endfor %}
		</blockquote>
		<a href="{{ site.baseurl }}case-studies/{{client.slug}}" class="btn btn-transparent">Read the Case Study</a>	
	</section>	
	<!--@end of Featured Case Study -->	
	
	{% include clientlogos.html %}

