/************************
******  Main    *******
**** Version: 0.0.1 *****
*************************/

section{
  padding: ($base-unit * 5) 0;
}

section div {
  padding: ($base-unit * 3) 0;
}

.hero {
  height: $vertical-measure * 10;
  background-color: $black-60;
}

main, .main{
  position: relative;
  height: 100%;
}

.container{
  @include container;
}


.body__inner {
  max-width: 50em;
}

/*--------------------------------
  Header Newsletter Signup
--------------------------------*/

.newsletter{
  background: $offwhite;
  padding-bottom: 0;
  .newsletterText{
    width: 100%;
    display: block;
    text-align: center;
    @media(min-width: 55em){
      @include center-block;
      p{
        width: 75%;
        @include center-block;
      }
    }
  }
  form{
    width: 100%;
    display: block;
    @include clearfix();
    text-align: center;
    @media(min-width: 55em){
      width: 75%;
      @include center-block;
    }
    small{
      display: block;
    }
  }
}

.newsletter-wrapper{
  position: relative;
  overflow: hidden;
  @include center-block;
  padding: 0 0 4px;
  height: 180px;
  width: 80%;
  text-align: center;
  z-index: 2;
  img{
    width: 180px;
	margin-right: -8px;
	position: relative;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	&.one, &.three{
	  bottom: -10px;
	}
	&.two{
	  bottom: -5px;
	  z-index: 10;
	}
  }
}

/*--------------------------------
  Open Paragraph
---------------------------------*/

.openingParagraph{
  padding-top: ($base-unit * 5);
  background:$white;
  h3, h5{
    text-align: center;
  }
  h3{
    font-weight: $semi-bold;
  }
  h5{
    color: $darkorange;
  }
  .leadcopy{
    width: 100%;
    @include font-size(18);
    text-align: left;
    @media(min-width: 55em){
      width: 65%;
      @include center-block;
    }
  }
}

.interior{
  background: #f1f1f1;
  img{
    width: 100%;
  }
  .leadcopy{
    @include font-size($leadcopy);
    margin-bottom: ($base-unit * 4);
    text-align: left;
    display: block;
    width:100%;
    padding: 30px;
    @media(min-width: 55em){
      margin: 0;
      width: 50%;
      height: 100%;
      display:inline-block;
      float:left;
    }
    p {
      font-size: inherit;  
    }
  }
}

.newhere, .company{
  .openingParagraph {
    .leadcopy{
      text-align: center;
    }
  }
}


/*---------------------------------
  Client logo list
---------------------------------*/

.clientLogos {
  background: $white;
  display: block;
  padding: ($base-unit * 5) 0;
  text-align: center;
  h4{
    color: $darkorange;
  }
  .clientLogos-list {
    display: block;
    @include row(8);
    @include clearfix();
    li {
      @include column(4);
      text-align: center;
      @media(min-width: 55em) {
        @include column(1, 8);
      }
    }
  }
}

.matched-height{
  padding: 0;
  @media(min-width: 55em){
    height: 420px;
  }
  h5{
    padding-bottom: 3px;
    border-bottom: 1px solid $offwhite;
    color: $white;
    position: relative;
  }
  a{
    h4{
      color: $white;
      position: relative;
    }
  }
  .dark{
    h4{
      color: $darkgrey;
    }
  }
}

.featured-posts{
  .slab{
    background: linear-gradient(to bottom right, rgba(211, 131, 18, 0.45), rgba(168, 50, 121, 0.45)), url('//dddb43dxo5lmp.cloudfront.net/images/podcasting.jpg') no-repeat center;
    @include vendorize(background-size, cover);
    .imgContainer {
      width: 120px;
      float: left;
      margin-right: $gutter;
      margin-bottom: $base-unit;
      position: relative;
      padding: 0;
     }
     .imgContainerSecondary{
       width: auto;
       float: none;
       margin: 0;
       padding: 0;
       position: relative;
     }
    &.dark{
      background: $offwhite;
      h5{
        border-color: $darkgrey;
        color: $darkgrey;
      }
      a.btn{
        color: $white;
      }
    }
  }
}

/*-------------------------------
  Homepage blockquote
--------------------------------*/

.featured-case-study {
  background: transparent;
  position: relative;
  text-align: center;
  padding: ($base-unit * 5) 0;
  .img-thumbnail-circle{
    display: inline-block;
    vertical-align: top;
    margin-top: -10px;
    margin-right: ($base-unit * 2);
  }
}



/*-------------------------------
  Numbered list - New Here Page
--------------------------------*/

.page{
  background: $white;
  overflow: hidden;
  h3{
    text-align: left;
  }
  .half{
    @media(min-width: 55em) {
      width: 60%;
    }
  }
  .container.center{
    h3{
      text-align: center;
    }
  }
  .less-half{
    @extend .half;
    @media(min-width: 55em) {
      width: 40%;
    }
  }
  .half.right{
    @media(min-width: 55em) {
      float: right;
    }
  }
}


.block-heading--numbered {
  margin-left: -.15em;
  position: relative;
  padding-left: 4.5em;
  display: inline-block;
  text-align: left;
  &:before {
    display: block;
    content: attr(data-numbered);
    font-size: 2.7em;
    line-height: .8;
    position: absolute;
    left: 0;
    letter-spacing: 2px;
  }
}


.bg-photo{
  background: url('//dddb43dxo5lmp.cloudfront.net/images/library2.jpg') no-repeat center;
  @include vendorize(background-size, cover);
  color: $white;
  .block-heading--numbered {
    color: $white;
  }
  &.bg-sampled {
    background: url('//dddb43dxo5lmp.cloudfront.net/images/amplified.jpg') no-repeat center;
    @include vendorize(background-size, cover);
    h3{
      color: $white;
    } 
  }
  &.bg-topview {
    background: url('//dddb43dxo5lmp.cloudfront.net/images/top-view.jpg') no-repeat center;
    @include vendorize(background-size, cover);
    h3{
      color: $white;
    }
  }
}

.bg-offwhite {
  background: #f5f6f8;
}


.feature{
	width: 100%;
	float: none;
	display: inline-block;
	margin-top: $gutter*3;
	padding-left: 42px;
	height: 100%;
	@media(min-width: 55em){
	  width: 45%;
	  float: left;
	}
	
}

.slab{
  .feature{
    margin-top: 0;
  }
  h3{
    color: $white;
    position: relative;
  }
}



// Screen Resizing

figure.browsers, .browsers {
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  float: none;
  margin-bottom: 0;
  @include clearfix();
  @media(min-width: 55em){
    width: 55%;
    float: left;
  }
  div{
    padding: 0;
  }
}

.services {
  .browsers{
    text-align: left;
    @media(min-width: 55em){
      width: 50%;
    }
  }
  .feature{
    margin-top: 0;
    @media(min-width: 55em){
      margin-right: 5%;
    }
  }
}

.iphone{
	background-color: #e3e3e3;
	position: absolute;
	bottom: -35%;
	width: 228px;
	height: 480px;
	border-radius: 28px;
	overflow: hidden;
	z-index: 3;
	right: 0;
	-ms-box-shadow: rgba(0, 0, 0, .1) 0px 3px 10px;
	-moz-box-shadow: rgba(0, 0, 0, .1) 0px 3px 10px;
	-webkit-box-shadow: rgba(0, 0, 0, .1) 0px 3px 10px;
	box-shadow: rgba(0, 0, 0, .1) 0px 3px 10px;
	.iphone-camera {
	  height: 1.9%;
	  width: 4%;
	  border-radius: 100%;
	  margin: 6% auto 4%;
	  background-color: #aaa;
    }
    .iphone-sensor {
	  display: inline-block;
	  height: 1.5%;
	  width: 3.1%;
	  border-radius: 100%;
	  float: left;
	  background-color: #aaa;
	  position: relative;
	  left: 35%;
	  top: 1px;
	}
	.iphone-earpiece {
	  position: relative;
	  width: 18.4%;
	  margin: 1% auto 6.5%;
	  height: 1.7%;
	  border-radius: 15px;
	  background-color: #aaa;
	  &:after{
		content: "";
		display: table;
	  }
	}
	.iphone-home {
	  width: 18.4%;
	  height: 8.75%;
	  margin: 5.3% auto 0;
	  background-color: #dfdfdf;
	  border-radius: 100%;
	  border-radius: 999px;
	  -webkit-border-radius: 999px;
    }
    .iphone-content {
	  position: relative;
	  width: 88%;
	  height: 75%;
	  margin: 0 auto;
	  overflow: hidden;
	  background-color: #222;
	  -webkit-backface-visibility: visible;
    }
}


.browser-bar {
  border-radius: 3px 3px 0 0;
  height: 21px;
  font-size: 1px;
  background-color: #e0e0e0;
  line-height: 26px;
  .browser-button{
	display: inline-block;
	height: 21px;
	font-size: inherit;
	float: left;
    &:before{
     content: "\25cf";
     font-size: 13px;
     line-height: 20px;
     color: #fff;
    }
    &:first-child{
	  margin-left: 8px;
    }	
  }
}

.browser-content {
	position: relative;
	width: 100%;
	height: 565px;
	background-color: #fff;
}


.macbook{
	bottom: 3.125em;
	height: 480px;
	width: 100%;
	z-index: 1;
	text-align: left;
	box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .1);
}

.macbook.noshadow{
  box-shadow: none;
}

figure{
	.iphone + .macbook{
		width: 95%;
	}
}

.flexible{
	background: $offwhite;
	&.padding{
		padding-bottom: 3%;
	}
}

.flexible{
	.macbook{
		left: 0;
		bottom: 0;
		.line {
		    display: inline-block;
		    height: 0.7em;
		    width: 55%;
		    background-color: #f4f4f4;
		    margin-bottom: 1.25em;
		  }
		  .line:nth-child(2n) {
		    width: 10%;
		    background-color: #48e0a4;
		  }
		  .line:nth-child(4n){
			background-color: #f26767;
		}
		  .line:nth-child(6n){
			background-color: #fff;
		}
		  .browser-content{
			padding-top: 8%;
			padding-left: 10%;
		}
	}
}



.social {
	position: relative;
	height: 3em;
	width: 12em;
	margin-top: 2em;
}

.social li {
	display: block;
	height: 4em;
	line-height: 4em;
	margin: -2em;
	position: absolute;
	-webkit-transition: -webkit-transform .5s;
	-moz-transition: -moz-transform .5s;
	-ms-transition: -ms-transform .5s;
	-o-transition: -o-transform .5s;
	transition: transform .5s;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	text-align: center;
	width: 4em;
}

.social a {
	color: #fffdf0;
	display: block;
	height: 4em;
	line-height: 4em;
	text-align: center;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 4em;	
}

.facebook {
	background: #155b9d;
	left: 0;
	top: 0%;
}

.twitter {
	background: #1a9ec4;
	bottom: 0;
	left: 25%;
}

.dribbble {
	background: #d05f8f;
	left: 50%;
	top: 0%;
}

.behance {
	background: #3f7aa3;
	bottom: 0;
	left: 75%;
}

.linked-in {
	background: #157f9d;
	left: 100%;
	top: 0%;
}

/* #Canvas Element Circular charts
================================================== */
canvas, video {display: inline-block;}


.stats-container {
margin: 0;
padding: 0;
list-style: none;
text-align: center;
padding-bottom: 70px;
}

.stats-container li {
display: inline-block;
margin: 0 4% 5px;
position: relative;
}

.circular-stat {
position: relative;
}

.circular-stat .digit-label {
color:  $light-orange;
font-family: $headline-font;
font-size: 3.2em;
text-align: center;
display: inline-block;
position: absolute;
top: 11.5%;
width: 75%;
left: 12.5%;
padding: 30px 0 0 30px;
  text-shadow:-1px 1px 0px #fff; 
white-space: nowrap;
overflow: hidden;
}

.circular-stat .text-label {
font-family: $headline-font;
color: #333;
font-size:1.5em;
top: 50%;
left: 21.875%;
width: 56.25%;
padding-top: 6px;
display: inline-block;
position: absolute;
text-align: center;
border-top: 1px solid #999;
}

span.text-title {
color:  #444;
font-family: "Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
text-align: center;
letter-spacing: -1px;
font-size: 1.3em;
font-weight: 400;
text-shadow: -1px 1px 0px #FFF;
padding: 30px 10px 0 0px;
margin-top: 240px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
z-index: 99999;
display: block;
text-shadow: -1px 1px 0px #fff;
}

span.text-dates{
font-size: 1.5em;
font-family: "Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
color: #999;
text-shadow: -1px 1px 0px #fff;
}

@media only screen and (min-width: 1010px) { 
.stats-container li {margin: 0 2% 5px;}
}
@media only screen and (max-width: 1009px) { 
.stats-container li {margin: 0 -.2em 5px;}
}

/*-------------------------------
  Blogs and Podcasts
--------------------------------*/

.post{
  padding-top: 0;
  .container{
    margin-top: 0;
    padding-top: 0;
  }
  a, a:visited {
    color: $green;
    &:hover{
      color: $light-orange;
    }
  }
}

.single-post {
  background: $white;
  @media(min-width: 55em){
    width: 72.5%;
    margin-bottom: 0;
    margin-right: 2.5%;
    float: left;
  }
  .meta {
    font-weight: $heavy;
    
  }

  .single-post__inner{
    padding: 2.5em 2em;
  }
}

.blog-sidebar {
  @media(min-width: 55em){
    padding-top: 1em;
    width: 25%;
	float: left;
  }
  .grid-list li {
	display: block;
	overflow: hidden;
	width: 314px;
	text-align: left;
	vertical-align: top;
  }
  /* Title */
  .grid-list li h5 {
	position: relative;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 20px;
	width: 100%;
	background: $darkergrey;
	color: $white;
	-webkit-transition: -webkit-transform 0.2s, color 0.2s;
	transition: transform 0.2s, color 0.2s;
  }

}



/*-------------------------------
  Case Studies
---------------------------------*/

.case-studies {
  section {
    padding: 0;
    margin: 0;
  }
}

.case-study-grid-item, .workwithus  {
  position: relative;
  @media(min-width: 55em) {
    width: 33.3333%;
    float: left;
    overflow: hidden;
  }
  .hover{
    animation-duration: 0s;
    -webkit-animation-duration: 0s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
	opacity: 1;
	height: 100%;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	background: rgba($green,0.9);
	opacity: 0;
	animation-duration: .25s;
	-webkit-animation-duration: .25s;
	&:hover {
	  opacity: 1;
	  animation-name: fadeInUp;
	  -webkit-animation-name: fadeInUp;
	}
	.tile-top {
	  position: absolute;
	  display: table;
	  left: 0;
	  right: 0;
	  width: 100%;
	  top: 0;
	  height: 100%;
	}
	.tile-link {
	  display: block;
	  position: absolute;
	  overflow: hidden;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  text-decoration: none;
	  .tile-inner{
	    position: relative;
		display: table-cell;
		vertical-align: middle;
		padding: 15px;
		text-align: center;
		h5, h3{
		  color: $white;
		}
		h3{
		  text-align: center;
		}
		.cta-wrapper {
		  position: relative;
		  padding-top: 30px;
		  .cta {
		    display: inline-block;
			color: #666;
			padding: 0 3em;
			height: 38px;
			cursor: pointer;
			line-height: 38px;
			border-radius: 100px;
			background-color: white;
			font-family: $headline-font;
			font-weight: 700;
			@include font-size(14);
			text-transform: uppercase;
			text-decoration: none;
			-webkit-transition: background-color 0.25s ease-in-out;
			transition: background-color 0.25s ease-in-out;
		    white-space: nowrap;
		    padding: 0 2em;
		    &.hollow{
		      color: white;
			  border: solid 1px rgba(255,255,255,0.5);
			  background-color: transparent;
			  -webkit-transition: background-color 0s, border-color 0.5s;
			  transition: background-color 0s, border-color 0.5s;
		    }
		  }
		}
	  }
	}
  }
}

.workwithus{
    background: $offwhite;
    position: relative;
    display: none;
    @include clearfix();
    @media(min-width: 55em) {
      width: 66.6666%;
      display: inline-block;
    }
    .tile-top {
	  position: absolute;
	  display: table;
	  left: 0;
	  right: 0;
	  width: 100%;
	  top: 0;
	  height: 100%;
	}
	
	.tile-link {
	  display: block;
	  position: absolute;
	  overflow: hidden;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  text-decoration: none;
	  .tile-inner{
	    position: relative;
		display: table-cell;
		vertical-align: middle;
		padding: 15px;
		text-align: center;
		h5, h3{
		  color: $white;
		}
		h3{
		  text-align: center;
		}
		.cta-wrapper {
		  position: relative;
		  padding-top: 30px;
		  .cta {
		    display: inline-block;
			color: #666;
			padding: 0 3em;
			height: 38px;
			cursor: pointer;
			line-height: 38px;
			border-radius: 100px;
			background-color: white;
			font-family: $headline-font;
			font-weight: 700;
			@include font-size(14);
			text-transform: uppercase;
			text-decoration: none;
			-webkit-transition: background-color 0.25s ease-in-out;
			transition: background-color 0.25s ease-in-out;
		    white-space: nowrap;
		    padding: 0 2em;
		    &.hollow{
		      color: white;
			  border: solid 1px rgba(255,255,255,0.5);
			  background-color: transparent;
			  -webkit-transition: background-color 0s, border-color 0.5s;
			  transition: background-color 0s, border-color 0.5s;
		    }
		  }
		}
	  }	
	}	
  }



/*-------------------------------
  What to expect - New Here Page
--------------------------------*/

.what-not-to{
  background: $white;
  h3{
    text-align: center;
  }
  .align-middle{
    display: table-cell;
    padding-top: ($base-unit * 14);
  }

  a, a:visited{
    color: $green;
  }
  
}

ul.popular-posts{
  width: 100%;
  margin-bottom: ($base-unit * 4);
  @include row();
  li{
    @include column(4);
    padding: ($base-unit * 3);
    border: 1px solid $green;
    text-align: center;
    a{
      color: $green;
	  position: relative;
	  display: block;
    }
  }
}


/*--------------------------------
  Blog Grid Style
--------------------------------*/

.blog {
  main, .main {
    background: $white;
  }
}

.grid-wrap {
	clear: both;
	margin: 0 auto;
	max-width: 1260px;
}

.grid {
	margin: 30px auto;
	padding: 0;
	list-style: none;
	min-height: 500px;
}

.js .grid {
	background: url(../img/loading.gif) no-repeat 50% 100px;
}

.js .grid.loaded {
	background: none;
}

.grid li {
	display: inline-block;
	overflow: hidden;
	width: 314px;
	text-align: left;
	vertical-align: top;
}

.js .grid li {
	display: none;
	float: left;
}

.js .grid.loaded li {
	display: block;
}

/* Anchor and image */
.grid li > a,
.grid li img {
	display: block;
	outline: none;
	border: none;
}

.grid li > a {
	position: relative;
	overflow: hidden;
	margin: 7px;
}

/* Curtain element */
.grid .curtain {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: $light-orange;
}

.grid.swipe-rotate .curtain {
	width: 200%;
	height: 200%;
	-webkit-transform: rotate3d(0,0,1,90deg);
	transform: rotate3d(0,0,1,90deg);
	-webkit-transform-origin: top left;
	transform-origin: top left;
}

/* Shadow */
.grid .curtain::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,1);
	content: '';
}

.grid.swipe-right .curtain::after,
.grid.swipe-rotate .curtain::after {
	left: -100%;
}

.grid.swipe-down .curtain::after {
	top: -100%;
}

/* Title */
.grid li h5 {
	position: relative;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 20px;
	width: 100%;
	background: $darkergrey;
	color: $white;
	-webkit-transition: -webkit-transform 0.2s, color 0.2s;
	transition: transform 0.2s, color 0.2s;
}

.grid li div {
  padding: 0;
}

.grid li.audio .title-container{
  display: none;
}

/* Pseudo element for hover effect */
.grid li > a::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100.5%;
	border: 0px solid transparent;
	background: rgba(0,0,0,0);
	content: '';
	-webkit-transition: border-width 0.2s, border-color 0.2s;
	transition: border-width 0.2s, border-color 0.2s;
}

.grid li.shown:hover > a::before {
	border-width: 5px;
	border-color: $green;
}

/* Animations */

/* Swipe rotate */
.grid.swipe-rotate li.animate .curtain {
	-webkit-animation: swipeRotate 1.5s ease forwards;
	animation: swipeRotate 1.5s ease forwards;
}

@-webkit-keyframes swipeRotate {
	50%, 60% { -webkit-transform: rotate3d(0,0,1,0deg); }
	100% { -webkit-transform: rotate3d(0,0,1,-90deg); }
}

@keyframes swipeRotate {
	50%, 60% { transform: rotate3d(0,0,1,0deg); }
	100% { transform: rotate3d(0,0,1,-90deg); }
}

/* Shadow */
.grid li.animate .curtain::after {
	-webkit-animation: fadeOut 1.5s ease forwards;
	animation: fadeOut 1.5s ease forwards;
	-webkit-animation-delay: inherit;
	animation-delay: inherit;
}

@-webkit-keyframes fadeOut {
	50%, 60% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes fadeOut {
	50%, 60% { opacity: 1; }
	100% { opacity: 0; }
}

/* Hide image and title and show at half time */
.js .grid li img,
.js .grid li h5 {
	visibility: hidden;
}

.grid li.animate img,
.grid li.animate h5 {
	-webkit-animation: showMe 1.5s step-end forwards;
	animation: showMe 1.5s step-end forwards;
}

@-webkit-keyframes showMe {
	from { visibility: hidden; }
	60%, 100% { visibility: visible; }
}

@keyframes showMe {
	from { visibility: hidden; }
	60%, 100% { visibility: visible; }
}

.grid li.shown img,
.grid li.shown h5 {
	visibility: visible;
}

/* --------------------------------
   Newsletter Lightbox form
--------------------------------- */

#sign_up {
  @include vendorize(border-radius, 6px);
  background: #f1f1f1;
  border: 1px solid $offwhite;
  @include vendorize(box-shadow, rgba(0,0,0,.6) 0px 2px 12px);
  padding: 14px 22px;
  width: 50%;
  position: relative;
  display: none;
}


/*--------------------------------
  Team
--------------------------------*/

.team{
  background: $white;
}


/*--------------------------------
  Contact Form
--------------------------------*/

.contact {
  form{
    div{
      padding: 0;
    }
  }
  [class^="icon-"], [class*="icon-"] {
    color: $light-orange;
    margin-right: $base-unit;
  }
}

.contact-list {
  li{
    text-transform: uppercase;
    font-family: $headline-font;
    @include font-size($baseh5);
    font-weight: $heavy;
    margin-bottom: 0;
    span[class^="icon-"], span[class*="icon-"] {
      background: $light-orange;
      padding: ($base-unit * 2);
      border-radius: 50em;
      border: 2px solid $light-orange;
      margin-right: ($base-unit * 2);
      color: $white; 
      display: inline-block;
      margin-bottom: $gutter;
      @include transition(all 100ms cubic-bezier(0.42, 0, 0.58, 1));
    }
    a, a:visited {
      color: $green;
    }
  }
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

