/************************
******  Main    *******
**** Version: 0.0.1 *****
*************************/

section{
  padding: ($base-unit * 5) 0;
}

section div {
  padding: ($base-unit * 3) 0;
}

.hero {
  height: $vertical-measure * 10;
  background-color: $black-60;
}

main, .main{
  position: relative;
  height: 100%;
}

.container{
  @include container;
}

/*--------------------------------
  Header Newsletter Signup
--------------------------------*/

.newsletter{
  background: $offwhite;
  padding-bottom: 0;
  .newsletterText{
    width: 100%;
    display: block;
    text-align: center;
    @media(min-width: 55em){
      @include center-block;
      p{
        width: 75%;
        @include center-block;
      }
    }
  }
  form{
    width: 100%;
    display: block;
    @include clearfix();
    text-align: center;
    @media(min-width: 55em){
      width: 75%;
      @include center-block;
    }
    small{
      display: block;
    }
  }
}

.newsletter-wrapper{
  position: relative;
  overflow: hidden;
  @include center-block;
  padding: 0 0 4px;
  height: 180px;
  width: 80%;
  text-align: center;
  z-index: 2;
  img{
    width: 180px;
	margin-right: -8px;
	position: relative;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	&.one, &.three{
	  bottom: -10px;
	}
	&.two{
	  bottom: -5px;
	  z-index: 10;
	}
  }
}

/*--------------------------------
  Open Paragraph
---------------------------------*/

.openingParagraph{
  padding-top: ($base-unit * 5);
  background:$white;
  h3, h5{
    text-align: center;
  }
  h3{
    font-weight: $semi-bold;
  }
  h5{
    color: $darkorange;
  }
  .leadcopy{
    width: 100%;
    @include font-size(18);
    text-align: left;
    @media(min-width: 55em){
      width: 65%;
      @include center-block;
    }
  }
}

.interior{
  background: #f1f1f1;
  img{
    width: 100%;
  }
  .leadcopy{
    @include font-size($leadcopy);
    margin-bottom: ($base-unit * 4);
    text-align: left;
    display: block;
    width:100%;
    padding: 30px;
    @media(min-width: 55em){
      margin: 0;
      width: 50%;
      height: 100%;
      display:inline-block;
      float:left;
    }
    p {
      font-size: inherit;  
    }
  }
}

.newhere, .company{
  .openingParagraph {
    .leadcopy{
      text-align: center;
    }
  }
}


/*---------------------------------
  Client logo list
---------------------------------*/

.clientLogos {
  background: $white;
  display: block;
  padding: ($base-unit * 5) 0;
  text-align: center;
  h4{
    color: $darkorange;
  }
  .clientLogos-list {
    display: block;
    @include row(8);
    @include clearfix();
    li {
      @include column(4);
      text-align: center;
      @media(min-width: 55em) {
        @include column(1, 8);
      }
    }
  }
}

.matched-height{
  padding: 0;
  @media(min-width: 55em){
    height: 420px;
  }
  h5{
    padding-bottom: 3px;
    border-bottom: 1px solid $offwhite;
    color: $white;
    position: relative;
  }
  a{
    h4{
      color: $white;
      position: relative;
    }
  }
  .dark{
    h4{
      color: $darkgrey;
    }
  }
}

.featured-posts{
  .slab{
    background: linear-gradient(to bottom right, rgba(211, 131, 18, 0.45), rgba(168, 50, 121, 0.45)), url('//dddb43dxo5lmp.cloudfront.net/images/podcasting.jpg') no-repeat center;
    @include vendorize(background-size, cover);
    .imgContainer {
      width: 120px;
      float: left;
      margin-right: $gutter;
      margin-bottom: $base-unit;
      position: relative;
      padding: 0;
     }
     .imgContainerSecondary{
       width: auto;
       float: none;
       margin: 0;
       padding: 0;
       position: relative;
     }
    &.dark{
      background: $offwhite;
      h5{
        border-color: $darkgrey;
        color: $darkgrey;
      }
      a.btn{
        color: $white;
      }
    }
  }
}

/*-------------------------------
  Homepage blockquote
--------------------------------*/

.featured-case-study {
  background: transparent;
  position: relative;
  text-align: center;
  padding: ($base-unit * 5) 0;
  .img-thumbnail-circle{
    display: inline-block;
    vertical-align: top;
    margin-top: -10px;
    margin-right: ($base-unit * 2);
  }
}



/*-------------------------------
  Numbered list - New Here Page
--------------------------------*/

.page{
  background: $white;
  overflow: hidden;
  h3{
    text-align: left;
  }
  .half{
    @media(min-width: 55em) {
      width: 60%;
    }
  }
  .container.center{
    h3{
      text-align: center;
    }
  }
  .less-half{
    @extend .half;
    @media(min-width: 55em) {
      width: 40%;
    }
  }
  .half.right{
    @media(min-width: 55em) {
      float: right;
    }
  }
}


.block-heading--numbered {
  margin-left: -.15em;
  position: relative;
  padding-left: 4.5em;
  display: inline-block;
  text-align: left;
  &:before {
    display: block;
    content: attr(data-numbered);
    font-size: 2.7em;
    line-height: .8;
    position: absolute;
    left: 0;
    letter-spacing: 2px;
  }
}


.bg-photo{
  background: url('//dddb43dxo5lmp.cloudfront.net/images/library2.jpg') no-repeat center;
  @include vendorize(background-size, cover);
  color: $white;
  .block-heading--numbered {
    color: $white;
  }
  &.bg-sampled {
    background: url('//dddb43dxo5lmp.cloudfront.net/images/amplified.jpg') no-repeat center;
    @include vendorize(background-size, cover);
    h3{
      color: $white;
    } 
  }
  &.bg-topview {
    background: url('//dddb43dxo5lmp.cloudfront.net/images/top-view.jpg') no-repeat center;
    @include vendorize(background-size, cover);
    h3{
      color: $white;
    }
  }
}

.bg-offwhite {
  background: #f5f6f8;
}


.feature{
	width: 100%;
	float: none;
	display: inline-block;
	margin-top: $gutter*3;
	padding-left: 42px;
	height: 100%;
	@media(min-width: 55em){
	  width: 45%;
	  float: left;
	}
	
}

.slab{
  .feature{
    margin-top: 0;
  }
  h3{
    color: $white;
    position: relative;
  }
}



// Screen Resizing

figure.browsers, .browsers {
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  float: none;
  margin-bottom: 0;
  @include clearfix();
  @media(min-width: 55em){
    width: 55%;
    float: left;
  }
  div{
    padding: 0;
  }
}

.services {
  .browsers{
    text-align: left;
    @media(min-width: 55em){
      width: 50%;
    }
  }
  .feature{
    margin-top: 0;
    @media(min-width: 55em){
      margin-right: 5%;
    }
  }
}

.iphone{
	background-color: #e3e3e3;
	position: absolute;
	bottom: -35%;
	width: 228px;
	height: 480px;
	border-radius: 28px;
	overflow: hidden;
	z-index: 3;
	right: 0;
	-ms-box-shadow: rgba(0, 0, 0, .1) 0px 3px 10px;
	-moz-box-shadow: rgba(0, 0, 0, .1) 0px 3px 10px;
	-webkit-box-shadow: rgba(0, 0, 0, .1) 0px 3px 10px;
	box-shadow: rgba(0, 0, 0, .1) 0px 3px 10px;
	.iphone-camera {
	  height: 1.9%;
	  width: 4%;
	  border-radius: 100%;
	  margin: 6% auto 4%;
	  background-color: #aaa;
    }
    .iphone-sensor {
	  display: inline-block;
	  height: 1.5%;
	  width: 3.1%;
	  border-radius: 100%;
	  float: left;
	  background-color: #aaa;
	  position: relative;
	  left: 35%;
	  top: 1px;
	}
	.iphone-earpiece {
	  position: relative;
	  width: 18.4%;
	  margin: 1% auto 6.5%;
	  height: 1.7%;
	  border-radius: 15px;
	  background-color: #aaa;
	  &:after{
		content: "";
		display: table;
	  }
	}
	.iphone-home {
	  width: 18.4%;
	  height: 8.75%;
	  margin: 5.3% auto 0;
	  background-color: #dfdfdf;
	  border-radius: 100%;
	  border-radius: 999px;
	  -webkit-border-radius: 999px;
    }
    .iphone-content {
	  position: relative;
	  width: 88%;
	  height: 75%;
	  margin: 0 auto;
	  overflow: hidden;
	  background-color: #222;
	  -webkit-backface-visibility: visible;
    }
}


.browser-bar {
  border-radius: 3px 3px 0 0;
  height: 21px;
  font-size: 1px;
  background-color: #e0e0e0;
  line-height: 26px;
  .browser-button{
	display: inline-block;
	height: 21px;
	font-size: inherit;
	float: left;
    &:before{
     content: "\25cf";
     font-size: 13px;
     line-height: 20px;
     color: #fff;
    }
    &:first-child{
	  margin-left: 8px;
    }	
  }
}

.browser-content {
	position: relative;
	width: 100%;
	height: 565px;
	background-color: #fff;
}


.macbook{
	bottom: 3.125em;
	height: 480px;
	width: 100%;
	z-index: 1;
	text-align: left;
	box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .1);
}

.macbook.noshadow{
  box-shadow: none;
}

figure{
	.iphone + .macbook{
		width: 95%;
	}
}

.flexible{
	background: $offwhite;
	&.padding{
		padding-bottom: 3%;
	}
}

.flexible{
	.macbook{
		left: 0;
		bottom: 0;
		.line {
		    display: inline-block;
		    height: 0.7em;
		    width: 55%;
		    background-color: #f4f4f4;
		    margin-bottom: 1.25em;
		  }
		  .line:nth-child(2n) {
		    width: 10%;
		    background-color: #48e0a4;
		  }
		  .line:nth-child(4n){
			background-color: #f26767;
		}
		  .line:nth-child(6n){
			background-color: #fff;
		}
		  .browser-content{
			padding-top: 8%;
			padding-left: 10%;
		}
	}
}



.social {
	position: relative;
	height: 3em;
	width: 12em;
	margin-top: 2em;
}

.social li {
	display: block;
	height: 4em;
	line-height: 4em;
	margin: -2em;
	position: absolute;
	-webkit-transition: -webkit-transform .5s;
	-moz-transition: -moz-transform .5s;
	-ms-transition: -ms-transform .5s;
	-o-transition: -o-transform .5s;
	transition: transform .5s;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	text-align: center;
	width: 4em;
}

.social a {
	color: #fffdf0;
	display: block;
	height: 4em;
	line-height: 4em;
	text-align: center;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 4em;	
}

.facebook {
	background: #155b9d;
	left: 0;
	top: 0%;
}

.twitter {
	background: #1a9ec4;
	bottom: 0;
	left: 25%;
}

.dribbble {
	background: #d05f8f;
	left: 50%;
	top: 0%;
}

.behance {
	background: #3f7aa3;
	bottom: 0;
	left: 75%;
}

.linked-in {
	background: #157f9d;
	left: 100%;
	top: 0%;
}

/* #Canvas Element Circular charts
================================================== */
canvas, video {display: inline-block;}


.stats-container {
margin: 0;
padding: 0;
list-style: none;
text-align: center;
padding-bottom: 70px;
}

.stats-container li {
display: inline-block;
margin: 0 4% 5px;
position: relative;
}

.circular-stat {
position: relative;
}

.circular-stat .digit-label {
color:  $light-orange;
font-family: $headline-font;
font-size: 3.2em;
text-align: center;
display: inline-block;
position: absolute;
top: 11.5%;
width: 75%;
left: 12.5%;
padding: 30px 0 0 30px;
  text-shadow:-1px 1px 0px #fff; 
white-space: nowrap;
overflow: hidden;
}

.circular-stat .text-label {
font-family: $headline-font;
color: #333;
font-size:1.5em;
top: 50%;
left: 21.875%;
width: 56.25%;
padding-top: 6px;
display: inline-block;
position: absolute;
text-align: center;
border-top: 1px solid #999;
}

span.text-title {
color:  #444;
font-family: "Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
text-align: center;
letter-spacing: -1px;
font-size: 1.3em;
font-weight: 400;
text-shadow: -1px 1px 0px #FFF;
padding: 30px 10px 0 0px;
margin-top: 240px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
z-index: 99999;
display: block;
text-shadow: -1px 1px 0px #fff;
}

span.text-dates{
font-size: 1.5em;
font-family: "Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
color: #999;
text-shadow: -1px 1px 0px #fff;
}

@media only screen and (min-width: 1010px) { 
.stats-container li {margin: 0 2% 5px;}
}
@media only screen and (max-width: 1009px) { 
.stats-container li {margin: 0 -.2em 5px;}
}


/*-------------------------------
  What to expect - New Here Page
--------------------------------*/

.what-not-to{
  background: $white;
  h3{
    text-align: center;
  }
  .align-middle{
    display: table-cell;
    padding-top: ($base-unit * 14);
  }

  a, a:visited{
    color: $green;
  }
  
}

ul.popular-posts{
  width: 100%;
  margin-bottom: ($base-unit * 4);
  @include row();
  li{
    @include column(4);
    padding: ($base-unit * 3);
    border: 1px solid $green;
    text-align: center;
    a{
      color: $green;
	  position: relative;
	  display: block;
    }
  }
}


/*--------------------------------
  Blog Grid Style
--------------------------------*/

.og-grid {
	width:100%;
	background: $white;
	padding: ($base-unit * 4) 0;
	margin: 0;
	display: block;
	position: relative;
	@include clearfix();
}

.og-grid article {
    display: inline-block;
	background: #fff;
    margin: 10px 5px 0;
	vertical-align: top;
	overflow: hidden;
	height: auto;
	width: 32.5%;
	&.audio{
	  width: 40%;
	}
}




.og-grid article > a,
.og-grid article > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
	width: 100%;
}

.og-grid article .img-container{
  overflow: hidden;
  background: $offwhite;
  min-height: 350px;
  padding: 0;
  img{
    background: $offwhite;
  }
}



.og-grid article .title-container{
  background: $black-90;
  padding: $base-unit ($base-unit * 5);
  max-height: 264px;
  bottom: 0px;
  position: absolute;
  width: 100%;
  font-weight: 200;
  font-size: 60px;
  overflow: hidden;
  z-index: 2;
  h5{
    color: $white;
    font-weight: $semi-bold;
    margin:0;
  }
}

.og-grid article.audio .title-container{
  display: none;
}

.og-grid article.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #f1f1f1;
	border-width: 45px;
	left: 50%;
	margin: -40px 0 0 -45px;
}

.og-expander {
	position: absolute;
	background: #f1f1f1;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
	z-index: 1000;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
}

.og-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #999;
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
	
}

/* --------------------------------
   Newsletter Lightbox form
--------------------------------- */

#sign_up {
  @include vendorize(border-radius, 6px);
  background: #f1f1f1;
  border: 1px solid $offwhite;
  @include vendorize(box-shadow, rgba(0,0,0,.6) 0px 2px 12px);
  padding: 14px 22px;
  width: 50%;
  position: relative;
  display: none;
}


/*--------------------------------
  Team
--------------------------------*/

.team{
  background: $white;
}


/*--------------------------------
  Contact Form
--------------------------------*/

.contact {
  form{
    div{
      padding: 0;
    }
  }
  [class^="icon-"], [class*="icon-"] {
    color: $light-orange;
    margin-right: $base-unit;
  }
}

.contact-list {
  li{
    text-transform: uppercase;
    font-family: $headline-font;
    @include font-size($baseh5);
    font-weight: $heavy;
    margin-bottom: 0;
    span[class^="icon-"], span[class*="icon-"] {
      background: $light-orange;
      padding: ($base-unit * 2);
      border-radius: 50em;
      border: 2px solid $light-orange;
      margin-right: ($base-unit * 2);
      color: $white; 
      display: inline-block;
      margin-bottom: $gutter;
      @include transition(all 100ms cubic-bezier(0.42, 0, 0.58, 1));
    }
    a, a:visited {
      color: $green;
    }
  }
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

