---
layout: blog
class: "contact"
title: Contact
description: Infinitus Marketing + Technology is a Newfoundland Web Development Marketing Agency. We offer custom, strategic web design and production services, SEO, social media marketing, and mobile marketing solutions to clients in Newfoundland, Canada, and globally. 
---

<section class="slab full-white">
	<div class="container">
		<div class="center">
			<h3>Looking for a leg up? (How about an elevator?)</h3>
		</div>	
		<div class="half">

			<p>When you’re ready to embrace the digital space, you don’t need to have all of the answers. You just need to assemble a great team.</p>

			<p>Ways we can work together:</p>
				<ul>
					<li><span class="icon-checkmark"></span> Work with our team to launch a digital product or campaign</li>
					<li><span class="icon-checkmark"></span> Start a conversation about an ambitious idea you have</li>
					<li><span class="icon-checkmark"></span> Schedule a strategy consultation</li>
				</ul>	
			<p>Our highest value work includes building websites, e-learning platforms, mobile apps and helping you better serve your community online. Working with us will give you access to a team of marketers, engineers and designers to make your work come to life online. </p>
		 <p>We can’t wait to hear from you.</p>	
		<hr>
		<ul class="contact-list">
		   <li><span class="icon-mail2"></span> <a href="mailto:getstarted@goinfinitus.com">getstarted@goinfinitus.com</a></li>
		   <li><span class="icon-twitter"></span> <a href="http://twitter.com/goinfinitus">@goinfinitus</a></li>
		   <li><span class="icon-phone"></span> 1-888-369-1688</li>
		   <li><span class="icon-location"></span> Based in St. John's, NL</li>
		</ul>	
		</div>
		<div class="half">
			<form class="jotform-form" action="http://submit.jotform.ca/submit.php" method="post" name="form_41356128393254" id="41356128393254" accept-charset="utf-8">
			  <input type="hidden" name="formID" value="41356128393254" />
			  <div class="form-all">

			        <div id="cid_13" class="form-input">
					 <label class="form-label-left" id="label_13" for="input_13"> Full Name	<span class="form-required">
				            *</span></label>
			          <span class="form-sub-label-container">
			            <input type="text" class="form-textbox validate[required] input-xxlarge" data-type="input-textbox" id="input_13" name="q13_fullName" size="20" value="" />
			            <label class="form-sub-label small" for="input_13"> First and Last Name </label></span>
			        </div>


			        <div id="cid_9" class="form-input">
						<label class="form-label-left" id="label_9" for="input_9">
				          E-mail
				          <span class="form-required">
				            *</span>
				        </label>
			          <input type="email" class=" form-textbox validate[required, Email] input-xxlarge" id="input_9" name="q9_email9" size="30" value="" />
			        </div>


			        <div id="cid_12" class="form-input">
						<label class="form-label-left" id="label_12" for="input_12"> Phone Number </label>
			          <input type="text" class=" form-textbox validate[Numeric] input-xxlarge" data-type="input-textbox" id="input_12" name="q12_phoneNumber" size="20" value="" />
			        </div>


			        <div id="cid_5" class="form-input">
						<label class="form-label-left" id="label_5" for="input_5"> Website </label>
			          <input type="text" class=" form-textbox validate[Url] input-xxlarge" data-type="input-textbox" id="input_5" name="q5_website" size="20" value="" />
			        </div>


			        <div id="cid_6" class="form-input">
						<label class="form-label-left" id="label_6" for="input_6">
				          Emailing about
				          <span class="form-required">
				            *</span>
				        </label>
			          <select class="form-dropdown validate[required] input-xxlarge" id="input_6" name="q6_emailingAbout">
			            <option value="">  </option>
			            <option selected="selected" value="New project"> New project </option>
			            <option value="Consulting"> Consulting </option>
			            <option value="Question"> Question </option>
			            <option value="Something else"> Something else </option>
			          </select>
			        </div>


			        <div id="cid_7" class="form-input">
				<label class="form-label-left" id="label_7" for="input_7"> Message </label>
			          <textarea id="input_7" class="form-textarea" name="q7_message" cols="40" rows="6"></textarea>
			        </div>


			        <div id="cid_8" class="form-input">
			          <div class="form-single-column radio">
				 		<label class="form-label-left" id="label_8" for="input_8">  </label>
			            <span class="form-radio-item" style="clear:left;">
			              <input type="radio" class="form-radio" id="input_8_0" name="q8_input8" value="Yes, I would like to receive the INFINITUS newsletter" />
			              <label for="input_8_0"> Yes, I would like to receive the INFINITUS newsletter </label></span>
			          </div>
			        </div>

			        <div id="cid_2" class="form-input-wide">
			          <div class="form-buttons-wrapper">
			            <button id="input_2" type="submit" class="btn">
			              Submit
			            </button>
			          </div>
			        </div>

			      <div style="display:none">
			        Should be Empty:
			        <input type="text" name="website" value="" />
			      </div>
			  </div>
			  <input type="hidden" id="simple_spc" name="simple_spc" value="41356128393254" />
			  <script type="text/javascript">
			  document.getElementById("si" + "mple" + "_spc").value = "41356128393254-41356128393254";
			  </script>
			</form><img src="//tracking.jotform.com/form/41356128393254" style="display:none" />
		</div>	
	</div>	
</section>
<section class="featured-case-study">
	<blockquote class="featured-case-study-quote">
			{% for client in site.data.casestudies %}
			  {% if client.id == 'royalk9' %}
				<h3>{{ client.quote }}</h3>
				<cite><div class="img-thumbnail-circle"><img src="{{client.clientimage}}"></div>{{client.author}}</cite>
				{% endif %} 
			{% endfor %}
	</blockquote>	
</section>