---
layout: blog
class: "case-studies"
title: Case Studies
description: Infinitus Marketing + Technology is a Newfoundland Web Development Marketing Agency. We offer custom, strategic web design and production services, SEO, social media marketing, and mobile marketing solutions to clients in Newfoundland, Canada, and globally. 
---
<section class="page">
		{% for client in site.data.casestudies %}
		{% if client.featuredimage %}
		<article class="case-study-grid-item tile">
			<img src="{{client.featuredimage}}" alt="{{ client.title }}"/>
				<div class="hover">
					<a href="{{ site.baseurl }}case-studies/{{client.slug}}" class="tile-link">
						<div class="tile-top">
							<div class="tile-inner">
								<h5>{{ client.title }}</h5>
								<div class="cta-wrapper">
									<span class="cta hollow">Read Case Study</span>
								</div>	
					  		</div>
					    </div>
					</a>
				</div>
			</article>
			{% endif %}	
		{% endfor %}
        <article class="workwithus">
	       <div class="tile-link">
	       <div class="tile-top">
		    	<div class="tile-inner">
	       			<h3>Learn More about what we offer<h3>
		         		<div class="cta-wrapper">
							<a href="{{ site.baseurl }}how-we-help" class="btn">Learn More</a>
						</div>
		    		</div>
		  		</div>
		</div>
		   
	    </article>	
</section>	