<section class="clientLogos">
	<div class="container">
		<h4>Our friends, partners, clients</h4>
		<ul class="clientLogos-list">
			<li><img src="img/logos/tlp.svg"></li>
			<li><img src="img/logos/top20.svg"></li>
			<li><img src="img/logos/golf.png"></li>
			<li><img src="img/logos/easternhealth.svg"></li>
			<li><img src="img/logos/adventure.svg"></li>
			<li><img src="img/logos/ywca.svg"></li>
			<li><img src="img/logos/vigilant.svg"></li>
			<li><img src="img/logos/duffhomes.svg"></li>
		</ul>
	</div>		
</section>