<section class="clientLogos">
	<div class="container">
		<h4>Our friends, partners, clients</h4>
		<ul class="clientLogos-list">
			<li><a href="http://www.thelearningpartnership.ca/" target="_blank" rel="external">
				<!--[if gte IE 9]><!--><img src='{{site.baseurl}}img/logos/tlp.svg', alt='The learning Partnership', onerror="this.src={{site.baseurl}}img/logos/tlp.png"><!--<![endif]-->
            	<!--[if lt IE 9]><img src='{{site.baseurl}}img/logos/tlp.png', alt='The learning Partnership'><![endif]-->
				</a></li>
			<li><a href="http://www.top20under20.ca/" target="_blank" rel="external">
				<!--[if gte IE 9]><!--><img src='{{site.baseurl}}img/logos/top20.svg', alt='The top 20 under 20', onerror="this.src={{site.baseurl}}img/logos/top20.png"><!--<![endif]-->
            	<!--[if lt IE 9]><img src='{{site.baseurl}}img/logos/top20.png', alt='The top 20 under 20'><![endif]-->
				</a></li>
			<li><a href="http://www.golfwrx.com/" target="_blank" rel="external"><img src="{{site.baseurl}}img/logos/golf.png" alt="golfwrx"></a></li>
			<li>
				<!--[if gte IE 9]><!--><img src='{{site.baseurl}}img/logos/easternhealth.svg', alt='Eastern Health', onerror="this.src={{site.baseurl}}img/logos/easternhealth.png"><!--<![endif]-->
            	<!--[if lt IE 9]><img src='{{site.baseurl}}img/logos/easternhealth.png', alt='Eastern Health'><![endif]-->
				</li>
			<li><a href="http://www.centralnewfoundland.com/" target="_blank" rel="external">
				<!--[if gte IE 9]><!--><img src='{{site.baseurl}}img/logos/adventure.svg', alt='Adventure Central', onerror="this.src={{site.baseurl}}img/logos/adventure.png"><!--<![endif]-->
            	<!--[if lt IE 9]><img src='{{site.baseurl}}img/logos/adventure.png', alt='Adventure Central'><![endif]-->
				</a></li>
			<li><a href="http://www.ywcamoncton.com/" target="_blank" rel="external">
				<!--[if gte IE 9]><!--><img src='{{site.baseurl}}img/logos/ywca.svg', alt='YWCA Moncton', onerror="this.src={{site.baseurl}}img/logos/ywca.png"><!--<![endif]-->
            	<!--[if lt IE 9]><img src='{{site.baseurl}}img/logos/ywca.png', alt='YWCA Moncton'><![endif]-->
				</a></li>
			<li><a href="http://vigilantmanagement.ca/" target="_blank" rel="external">
				<!--[if gte IE 9]><!--><img src='{{site.baseurl}}img/logos/vigilant.svg', alt='Vigilant Management', onerror="this.src={{site.baseurl}}img/logos/vigilant.png"><!--<![endif]-->
            	<!--[if lt IE 9]><img src='{{site.baseurl}}img/logos/vigilant.png', alt='Vigilant Management'><![endif]-->
				</a></li>
			<li><a href="http://www.gov.nl.ca/" target="_blank" rel="external">
				<!--[if gte IE 9]><!--><img src='{{site.baseurl}}img/logos/nl.svg', alt='Newfoundland &amp; Labrador', onerror="this.src={{site.baseurl}}img/logos/nl.png"><!--<![endif]-->
            	<!--[if lt IE 9]><img src='{{site.baseurl}}img/logos/nl.png', alt='Newfoundland &amp; Labrador'><![endif]-->
				</a></li>
		</ul>
	</div>		
</section>