<section class="clientLogos">
	<div class="container">
		<h4>Our friends, partners, clients</h4>
		<ul class="clientLogos-list">
			<li><a href="http://www.thelearningpartnership.ca/" target="_blank" rel="external"><img src="img/logos/tlp.svg"></a></li>
			<li><a href="http://www.top20under20.ca/" target="_blank" rel="external"><img src="img/logos/top20.svg"></a></li>
			<li><a href="http://www.golfwrx.com/" target="_blank" rel="external"><img src="img/logos/golf.png"></a></li>
			<li><img src="img/logos/easternhealth.svg"></li>
			<li><a href="http://www.centralnewfoundland.com/" target="_blank" rel="external"><img src="img/logos/adventure.svg"></a></li>
			<li><a href="http://www.ywcamoncton.com/" target="_blank" rel="external"><img src="img/logos/ywca.svg"></a></li>
			<li><a href="http://vigilantmanagement.ca/" target="_blank" rel="external"><img src="img/logos/vigilant.svg"></a></li>
			<li><img src="img/logos/duffhomes.svg"></li>
		</ul>
	</div>		
</section>