  <footer role="contentinfo">
	<div class="footerFirst">
		<div class="stats">
				<h5>Magnify your unfair advantage.</h5>
				<p>Get weekly emails with new ideas and expert advice to grow your organization.</p>
					
				<form action="http://essentialcodinginc.createsend.com/t/y/s/cidhjt/" method="post">
				  <input type="text" id="fieldName" name="cm-name" class="input-small-medium" required placeholder="First Name" autocorrect="off" autocaptialize="off">
				  <input type="email" id="fieldEmail" name="cm-cidhjt-cidhjt" class="input-small-medium" required placeholder="name@example.com" autocorrect="off" autocaptialize="off">
				  <input type="submit" class="btn input-full" value="Get Access">
				 	<small>We respect your inbox. Unsubscribe at any time.</small>
					</form>
		</div>	
		<!-- Social links -->
		<div class="quick-contact">
			<h5>Connect with Us.</h5>
			<a href="http://www.facebook.com/goinfinitus" target="_blank" class="icon-facebook"></a>
			<a href="http://twitter.com/goinfinitus" target="_blank" class="icon-twitter"></a>	
			<a href="http://www.linkedin.com/company/3357705?trk=tyah&trkInfo=tas%3Ainfinitus%20ma%2Cidx%3A1-1-1" target="_blank" class="icon-linkedin"></a>
			<a href="https://plus.google.com/+Goinfinitus/posts" target="_blank" class="icon-google-plus2"></a>
			<a href="http://www.pinterest.com/goinfinitus/" target="_blank" class="icon-pinterest"></a>	
			<a href="mailto:getstarted@goinfinitus.com" target="_blank" class="icon-mail2"></a>			
		</div>
					<!--@end of Social Links -->	
	</div>
	<div class="footerEnd">
		<div class="container">
			<div class="footerNav">
				<a href="{{ site.baseurl }}company">About</a>
				<a href="{{ site.baseurl }}resources">Resources</a>
				<a href="{{ site.baseurl }}contact">Contact</a>
				<a href="{{ site.baseurl }}privacy-policy">Privacy Policy</a>
			</div>
			<div class="findUs">
				<p><a href="mailto:getstarted@goinfinitus.com">getstarted@goinfinitus.com</a> | 1-888-369-1688 | <a href="http://newfoundlandlabrador.com" target="_blank">From the rocky shores of NL</a></p>
				<p>&copy; 2014 INFINITUS Marketing + Technology</p>
			</div>
		</div>		
	</div>		
  </footer>	

<div id="sign_up" style="display: none;">
                <h5 id="see_id" class="sprited">Want your organization to have a bigger impact?</h5>
                <div id="sign_up_form">
					<div class="newsletterBenefit">
						<h5>Multiply your impact.</h5>
						<p>Get our weekly email for case studies, interviews and articles to:</p>
						<ul class="checkers-list">
					   <li>Learn from other leaders who are innovating their organizations with huge success</li>
					   <li>Decide what’s important in marketing + technology for your organization</li> 
					   <li>Turn your organization’s network into a thriving online community</li>
						</ul>
					</div>
					<hr>
	                <div class="checkbox">
                    	<h5><strong>YES I want to grow.</strong></h5>
						<form action="http://essentialcodinginc.createsend.com/t/y/s/cidhjt/" method="post">
						  <input type="text" id="fieldName" name="cm-name" class="input-small-medium" required placeholder="First Name" autocorrect="off" autocaptialize="off">
						  <input type="email" id="fieldEmail" name="cm-cidhjt-cidhjt" class="input-medium-large" required placeholder="name@example.com" autocorrect="off" autocaptialize="off">
						  <input type="submit" class="btn input-full" value="Get Access">
						 	<small>We respect your inbox. Unsubscribe at any time.</small>
							</form>
                    </div>

					
                </div>
                <a id="closeFancy" class="fncy-custom-close" href="">No, I reach enough people.</a>
            </div>
  {% include popupmenu.html %}

  {% include scripts.html %}

  </body>
</html>