<div class="header">
<header class="container banner">

		<div class="headerInfo">
			<a href="{{ site.baseurl }}">
			<h1 class="title">INFINITUS Marketing + Technology</h1>
			</a>
			{% include navigation.html %}
		</div>

</header>
	<div class="lead-headline">
		<h2>You want to <span class="poemline"></span><br>Let other people keep the status quo. You have a bigger vision.</h2>
		<a href="#sign_up" id="signup_btn" class="btn fancybox">Get Access</a>
		<a href="{{ site.baseurl }}/how-we-help" class="btn btn-transparent">Tell me more</a>
</div>
</div>	