<div class="header">
<header class="container">

		<div class="headerInfo">
			<h1 class="title">
				<a href="/">
					<!--[if gte IE 9]><!--><img src='img/infinituslogofull.svg', alt='INFINITUS Logo', onerror="this.src=img/infinituslogofull.png"><!--<![endif]-->
            		<!--[if lt IE 9]><img src='img/infinituslogofull.png', alt='INFINITUS Logo'><![endif]-->
				</a>
			</h1>
			{% include navigation.html %}
		</div>

</header>
	<div class="lead-headline">
		<h2>You want to <span data-typer-targets="do more work that matters., empower your team., inspire change., worry less., make a bigger impact., create industry buzz."></span><br>Let other people keep the status quo. You have a bigger vision.</h2>
	<!-- <h2>Combining <span class="rotate">digital craftsmanship, accessibility, entrepreneurial spirit, strategic planning</span> with creative thinking</h2> -->
		<a href="#" id="signup_btn" class="btn">Get Access</a>
		<a href="/how-we-help" class="btn btn-transparent">Tell me more</a>
</div>
</div>	