<div class="header header-white">
		<header class="container banner" role="banner">
			<div class="headerInfo">
				<a href="{{ site.baseurl }}">
					<h1 class="title">
						<!--[if gte IE 9]><!--><img src='../img/infinitus-icon.svg', alt='INFINITUS Marketing + Technology', onerror="this.src=../img/infinitus-icon.png"><!--<![endif]-->
		            	<!--[if lt IE 9]><img src='../img/infinitus-icon.png', alt='INFINITUS Marketing + Technology'><![endif]-->
						</h1>
				</a>
			{% include navigation.html %}
			</div>
		</header>
		<div class="container page-title">
			<div class="titleborder">
			<h2>{{page.title}}</h2>
			</div>
			<div class="leadcopy">
			<p>{{page.intro}}</p>
			</div>
		</div>
</div>	