<div class="header">
<header class="container banner">

		<div class="headerInfo">
			<a href="{{ site.baseurl }}">
			<h1 class="title">INFINITUS Marketing + Technology</h1>
			</a>
			{% include navigation.html %}
		</div>

</header>
	<div class="lead-headline">
		<h2>You want to <span data-typer-targets="do more work that matters., empower your team., inspire change., worry less., make a bigger impact., create industry buzz."></span><br>Let other people keep the status quo. You have a bigger vision.</h2>
	<!-- <h2>Combining <span class="rotate">digital craftsmanship, accessibility, entrepreneurial spirit, strategic planning</span> with creative thinking</h2> -->
		<a href="#" id="signup_btn" class="btn">Get Access</a>
		<a href="{{ site.baseurl }}/how-we-help" class="btn btn-transparent">Tell me more</a>
</div>
</div>	