<div class="header header-white">
		<header class="container">
			<div class="headerInfo">
				<a href="/" class="title">
					<!--[if gte IE 9]><!--><img src='{{ site.baseurl }}img/infinitus-icon.svg', alt='INFINITUS Logo', onerror="this.src={{ site.baseurl }}img/infinitus-icon.png"><!--<![endif]-->
            		<!--[if lt IE 9]><img src='{{ site.baseurl }}img/infinitus-icon.png', alt='INFINITUS Logo'><![endif]-->
				</a>
			{% include navigation.html %}
			</div>
		</header>
		<div class="container page-title">
			<div class="titleborder">
			<h1>{{page.title}}</h1>
			</div>
			<div class="leadcopy">
			<p>{{page.intro}}</p>
			</div>
		</div>
</div>	