<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{page.title}} | {{ site.name }}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="{{page.description}}">
        <link rel="canonical" href="{{baseurl}}{{ page.url }}" />

        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">


		<!-- Favicons -->
		<link rel='icon' type='image/png' href='//dddb43dxo5lmp.cloudfront.net/favicon/favicon-16.png' sizes='16x16'/>
	    <link rel='icon' type='image/png' href='//dddb43dxo5lmp.cloudfront.net/favicon/favicon-32.png' sizes='32x32'/>
	    <link rel='icon' type='image/png' href='//dddb43dxo5lmp.cloudfront.net/favicon/favicon-48.png' sizes='48x48'/>
	    <link rel='icon' type='image/png' href='//dddb43dxo5lmp.cloudfront.net/favicon/favicon-128.png' sizes='128x128'/>
	    <meta name='msapplication-TileColor' content='#fff'>
	    <meta name='msapplication-TileImage' content='//dddb43dxo5lmp.cloudfront.net/favicon/favicon-128.png'>
        
        <!-- Open Graph Meta Tags -->
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ page.title }} | {{ site.name }}">
        <meta property="og:description" content="{{page.description}}">
        <meta property="og:url" content="{{ canonical_url }}">

        <!-- Twitter Card Meta Tags -->
        <meta name="twitter:site" content="@goinfinitus">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{ page.title }} | {{ site.name }}">
        <meta name="twitter:description" content="{{ page.description | truncatewords: 140, '' | escape }}">

		<!-- TypeKit Integration -->
		<script src="//use.typekit.net/wyu5eyr.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
		<!-- Special Icon fonts -->
		<link rel="stylesheet" href="{{ site.baseurl }}css/icomoon.css">
		
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">

 		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>

      <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
	  		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	         <script>
	 		  document.createElement('header');
		      document.createElement('nav');
		      document.createElement('section');
		      document.createElement('article');
		      document.createElement('aside');
		      document.createElement('footer');
		      document.createElement('main');
	         </script>
	  <![endif]-->

        <meta http-equiv="cleartype" content="on">

    </head>
    <body class="{{page.class}}">
	<div class="fixed-background"></div>