<div class="sidemenu">
	<nav class="left">
		<div>
		<h4>Magnify your unfair advantage.</h4>
		<p>Get weekly emails with new ideas and expert advice for marketing your organization.</p>
		
		<form action="http://essentialcodinginc.createsend.com/t/y/s/cidhjt/" method="post">
		  <input type="text" id="fieldName" name="cm-name" class="input-xlarge" required placeholder="First Name" autocorrect="off" autocaptialize="off">
		  <input type="email" id="fieldEmail" name="cm-cidhjt-cidhjt" class="input-xlarge" required placeholder="name@example.com" autocorrect="off" autocaptialize="off">
		  <input type="submit" class="btn input-full" value="Get Access">
		 	<small>We respect your inbox. Unsubscribe at any time.</small>
			</form>
			</div>
	</nav>
	<nav class="right" role="navigation">
		<ul class="navigation"> 
		<li><a href="{{ site.baseurl }}">Home</a></li>
		<li><a href="{{ site.baseurl }}/company">Company</a></li>
		<li><a href="{{ site.baseurl }}/case-studies">Case Studies</a></li>
		<li><a href="{{ site.baseurl }}/how-we-help">How we help</a></li>
		<li><a href="{{ site.baseurl }}/resources">Resources (Blogs &amp; Podcasts)</a></li>
	</nav>
</div>