---
layout: blog
class: "blog"
title: New Here
description: Infinitus Marketing + Technology is a Newfoundland Web Development Marketing Agency. We offer custom, strategic web design and production services, SEO, social media marketing, and mobile marketing solutions to clients in Newfoundland, Canada, and globally. 
intro: "This isn’t a jargon-filled monologue about why marketing and technology are important. Because those aren’t the most important things." 
---
<section class="openingParagraph interior">
	<div class="container">
		<div class="half">
			<img src="http://dddb43dxo5lmp.cloudfront.net/images/change.png">
		</div>	
		<div class="half leadcopy">
			<p>Since you’re here, you’re likely a leader of an organization who has big ideas (we love big ideas!) but that’s not the most important thing, either. You got where you are today because you care about people. You care about the people your organization impacts, the employees who work tirelessly for you and the strategic relationships you’ve built along the way.</p> 

			<p>Compared to those relationships, the digital marketing and technology world can seem like a cold, transactional place.</p>
		</div>
	</div>
</section>
	<section class="featured-case-study">
		<blockquote class="featured-case-study-quote">
				{% for client in site.data.casestudies %}
				  {% if client.id == 'tlp' %}
					<h3>{{ client.quote }}</h3>
					<cite><div class="img-thumbnail-circle"><img src="{{client.clientimage}}"></div>{{client.author}}</cite>
					{% endif %} 
				{% endfor %}
		</blockquote>
		<a href="" class="btn btn-transparent">Read the Case Study</a>	
	</section>
<section class="what-not-to">
	<div class="container">
		<h3>It’s not about marketing <span>+</span> technology</h3>
		<div class="half">
			<div class="align-middle">
				<p>We don’t want you to build a website, mobile app or content marketing strategy. We want you to build a <a href="/community">community</a>.</p>
				<p>Your community is where your best work is <em>amplified</em>. It’s a digital space where people congregate around your product or cause. It’s where like-minded customers, clients and partners rally together around your mission.<p> 

					<h6>Building digital products are <em><strong>always</strong></em> about the people.</h6>
			 </div>
		</div>
		<div class="half community">
			<img src="//dddb43dxo5lmp.cloudfront.net/images/openmind.png">
		</div>	
	</div>
</section>	
<section class="matched-height">
		<div class="half slab">
			<h4>What to expect</h4>
			<p>Our community - <em>this</em> community - is here to help you bring innovative marketing and technology projects to life in your organization.</p>

			<p>The best insights are shared in our weekly emails, so before you do anything else - get access to the list:</p>
			<form action="http://essentialcodinginc.createsend.com/t/y/s/cidhjt/" method="post">

				<input type="email" id="fieldEmail" name="cm-cidhjt-cidhjt" class="input-large" required placeholder="name@example.com" autocorrect="off" autocaptialize="off">
				<input type="submit" class="btn input-full" value="Subscribe">
			</form>
		</div>
		<div class="half slab dark">
		<h4>Curious to learn more</h4>
		<p>Our <a href="/community">blog</a> is full of articles to help you innovate your organization to see more growth, connections and revenue. To get you started, read our most popular posts:
			<ul class="popular-posts inline-list">
				<li><a href="/stop-worrying-about-seo">Stop Worrying about SEO</a></li>
				<li><a href="/doggy-paddling-in-a-sea-of-competitors">Doggy Paddling in a Sea of Competitors</a></li>
				<li><a href="/the-3-es-of-content-marketing">The 3Es of content marketing</a></li>
			</ul>	
		</p>
		<p>If you want to see what working together could do for your organization, see our <a href="/case-studies">case studies</a>.</p>
		</div>
</section>
<section class="what-not-to">
	<div class="container center">
		<h3>We appreciate you</h3>
		<p>We want to help grow your organization… if there’s anything we can help you with or any topic you’d like us to cover in a future podcast or blog post, don’t keep quiet! <a href="mailto:getstarted@infinitus.com">Send us an email</a>.</p>
	</div>	
</section>	