---
layout: blog
class: "company"
title: Company
description: Infinitus Marketing + Technology is a Newfoundland Web Development Marketing Agency. We offer custom, strategic web design and production services, SEO, social media marketing, and mobile marketing solutions to clients in Newfoundland, Canada, and globally. 
---

<section class="openingParagraph">
	<div class="leadcopy center">
		<h3>You’ve cornered the local market. Let’s think bigger.</h3>

			<p>Marketing and technology are important. But they aren’t the most important.</p>

			<p>You have big ideas <strong>(we love big ideas!)</strong> but that’s not the most important thing, either.</p>
			<p>You are here today because you care about people. You care about the people your organization impacts, your team who works tirelessly and the strategic partnerships you’ve built.</p>	
	</div>	
</section>
<section class="page bg-photo bg-sampled animated fadeIn delay05">
	<div class="container">
			<div class="half right">
				<h3>Online, your best<br>work is <em>amplified</em>.</h3>
				<p>Let’s create a digital space where people congregate around your organization’s values. Let’s introduce you to more perfect customers, clients or members who already want what you have. Let’s bring more value to the people you serve.</p>
			</div>
	</div>
</section>


<section class="page">
	<div class="container center">
	<h3>You only work with the best. (We’re the same way.)</h3>
	<p>The INFINITUS Marketing + Technology team are growth agents. We work with companies and nonprofits to create websites, apps, marketing strategies and other digital assets to help you reach bigger goals. What we really do is introduce your brand to people who already love you. <em>(They just need to know you’re here.)</em></p>
	<h5>What kinds of results can you expect?</h5>
	<div class="results-list">
		<div class="results-list-item padded">
			<div class="top-portion">
			<span class="icon-rocket"></span>
			</div>
			<div class="mid-portion">
			<p>Your work will impact more people’s lives.<p>
			</div>
			<div class="bottom-portion">
				<h5>More reach and more revenue</h5>
			</div>		
		</div>
		
		<div class="results-list-item">
			<div class="top-portion">
			<span class="icon-power-cord"></span>
			</div>
			<div class="mid-portion">
			<p>Your employees will cut redundant and tedious work out of their day, so they can focus on more things that really matter.<p>
			</div>
			<div class="bottom-portion">
				<h5>More efficiency</h5>
			</div>		
		</div>
		
		<div class="results-list-item padded">
			<div class="top-portion">
			<span class="icon-star3"></span>
			</div>
			<div class="mid-portion">
			<p>For the cost of a single employee, you’ll work with a small army of passionate experts to reach your goals.<p>
			</div>
			<div class="bottom-portion">
				<h5>More value</h5>
			</div>		
		</div>
		
		
		</div>	
	</div>
</section>

<section class="featured-case-study">
	<blockquote class="featured-case-study-quote">
			{% for client in site.data.casestudies %}
			  {% if client.id == 'gandertoyota' %}
				<h3>{{ client.quote }}</h3>
				<cite><div class="img-thumbnail-circle"><img src="{{client.clientimage}}"></div>{{client.author}}</cite>
				{% endif %} 
			{% endfor %}
	</blockquote>
	<a href="" class="btn btn-transparent">Read the Case Study</a>	
</section>


<section class="page bg-offwhite">
	<div class="container center">
	<h3>Are we a good fit?</h3>
	<p>You’re already successful. You’ve been doing business offline for some time and understand that there are big opportunities if you move some of your work to the digital space.</p>
	<p>You want your message to be more relevant, modern and impactful online. You know what you want and want a team of experts to help get you there.</p>
	</div>
</section>

<section class="team">
	<div class="container center">
		<h4>A hand-picked Team</h4>
		<dl class="team-list">
		   <div>
				<div class="portrait">
		   			<img src="//dddb43dxo5lmp.cloudfront.net/team/scott-circle.jpg" title="Scott Oldford">
				</div>
				<h5>Scott Oldford</h5>
				<h6>
					<span>Strategy + Direction</span><span class="location">Newfoundland</span>
				</h6>
				<dd class="bio">
					<p>If you're not having fun anymore, it's time to do something else. I don't work a day in my life. Growing businesses and organizations through marketing and technology is my passion, and I'd love to work with you.</p>
				</dd>	
		   </div>
		   <div>
				<div class="portrait">
		   			<img src="//dddb43dxo5lmp.cloudfront.net/team/kaye-circle.jpg" title="Kaye Putnam">
				</div>
				<h5>Kaye Putnam</h5>
				<h6>
					<span>Marketing + Branding</span><span class="location">Hawaii</span>
				</h6>
				<dd class="bio">
					<p>I love creating emotional connections between people and organizations using digital marketing and branding. I’ll make your cdivents love you (more). I have over 10 years of experience.</p>
				</dd>
		   </div>
		   <div>
		   		<div class="portrait">
					<img src="//dddb43dxo5lmp.cloudfront.net/team/lynette-circle.jpg" title="Lynette Sawyer">
				</div>
				<h5>Lynette Sawyer</h5>
				<h6>
					<span>Project + Client Manager</span><span class="location">Vancouver</span>
				</h6>
				<dd class="bio">
					<p>I’m the glue that holds the team together. I’m the lead communicator with our clients and lead delegator to the team. When people follow my lead, shit gets done.</p>
				</dd>	
		   </div>
		
			
		
		   <div>
		   		<div class="portrait">
					<img src="//dddb43dxo5lmp.cloudfront.net/team/hardik-circle.jpg" title="Hardik Dangar">
				</div>	
				<h5>Hardik Dangar</h5>
				<h6>
					<span>Lead Technology + Management</span><span class="location">London</span>
				</h6>
				<dd class="bio">
					<p>Some might say I have the brains of 35 men. They would be correct. I lead the development of most of the INFINITUS websites, and rock every one.</p>
				</dd>
		   </div>
			<div>
		   		<div class="portrait">
					<img src="//dddb43dxo5lmp.cloudfront.net/team/james-circle.jpg" title="James Baldwin">
				</div>
				<h5>James Baldwin</h5>
				<h6>
					<span>Community + Social</span><span class="location">Ontario</span>
				</h6>
				<dd class="bio">
					<p>I’m the one who connects and engages with your community online. I have 7 years of experience and have been named one of the Top 500 Community Managers in the World.</p>
				</dd>	
		   </div>
		
		   <div>
		   		<div class="portrait">
					<img src="//dddb43dxo5lmp.cloudfront.net/team/sam-circle.jpg" title="Samantha Chynn">
				</div>
				<h5>Samantha Chynn</h5>
				<h6>
					<span>Details + Planning</span><span class="location">Newfoundland</span>
				</h6>
				<dd class="bio">
					<p>They call me the Chief of Details: I’m the one who keeps your project on track and accurate to specifications.</p>
				</dd>
		   </div>
		   <div>
		   		<div class="portrait">
					<img src="//dddb43dxo5lmp.cloudfront.net/team/joanna-circle.jpg" title="Joanna Guldin-Noll">
				</div>
				<h5>Joanna Guldin-Noll</h5>
				<h6>
					<span>Community + Writing</span><span class="location">Virginia</span>
				</h6>
				<dd class="bio">
					<p>I’m a content creating superstar (or so I’m told) and manage communities for our clients. I write engaging words that people respond to.</p>
				</dd>
		   </div>
		   <div>
		   		<div class="portrait">
					<img src="//dddb43dxo5lmp.cloudfront.net/team/rob-circle.jpg" title="Rob Swick">
				</div>	
				<h5>Rob Swick</h5>
				<h6>
					<span>Search + Analytics</span><span class="location">Quebec</span>
				</h6>
				<dd class="bio">
					<p>I once heard that an advertiser’s job is to "make corporate propaganda feel like folksy truisms". As an SEO professional, my job is very different. I research the real interests and authentic language of people and work to incorporate this information into your story.</p>
				</dd>
		   </div>
		   <div>
		   		<div class="portrait">
					<img src="//dddb43dxo5lmp.cloudfront.net/team/phillip-circle.jpg" title="Phillip Dale">
				</div>
				<h5>Phillip Dale</h5>
				<h6>
					<span>User Interface + Graphics</span><span class="location">Toronto</span>
				</h6>
				<dd class="bio">
					<p>I have 15 years of experience in Graphic/Web Design designing strong, effective brand identity for many industries.</p>
				</dd>	
		   </div>
		   <div>
		   		<div class="portrait">
					<img src="//dddb43dxo5lmp.cloudfront.net/team/cristi-circle.jpg" title="Cristi Habulic">
				</div>
				<h5>Cristi Habulic</h5>
				<h6>
					<span>Analyst + Integration</span><span class="location">Romania</span>
				</h6>
				<dd class="bio">
					<p>Like an architect, I create the infrastructure that your site is built on. Good bones are the foundation to every great site.</p>
				</dd>
		   </div>
		   <div>
		   		<div class="portrait">
					<img src="//dddb43dxo5lmp.cloudfront.net/team/antonio-circle.jpg" title="Antonio Giorlando">
				</div>	
				<h5>Antonio Giorlando</h5>
				<h6>
					<span>Research + Development</span><span class="location">California</span>
				</h6>
				<dd class="bio">
					<p>I spend hours at the computer creating caffeine fueled code, so that your website works how it is supposed to. I wouldn’t have it any other way.</p>
				</dd>	
		   </div>
		   <div>
		   		<div class="portrait">
					<img src="//dddb43dxo5lmp.cloudfront.net/team/michelle-circle.jpg" title="Michelle Devera">
				</div>
				<h5>Michelle Devera</h5>
				<h6>
					<span>QA + Testing</span><span class="location">Vancouver</span>
				</h6>
				<dd class="bio">
					<p>I cross every “t” and dot every “i” to make sure your site is perfect. (You’re welcome.)</p>
				</dd>
		   </div>
		   <div>
		   		<div class="portrait">
					<img src="//dddb43dxo5lmp.cloudfront.net/team/boris-circle.jpg" title="Borislav Jagodic">
				</div>	
				<h5>Borislav Jagodic</h5>
				<h6>
					<span>Programming</span><span class="location">Romania</span>
				</h6>
				<dd class="bio">
					<p>Without me, great graphics wouldn’t get the light of day, web transactions wouldn’t happen, and the web as we know it just wouldn’t be. I make things happen.</p>
				</dd>
		   </div>
		   <div>
		   		<div class="portrait">
					<img src="//dddb43dxo5lmp.cloudfront.net/team/blake-circle.jpg" title="Blake Thomas">
				</div>	
				<h5>Blake Thomas</h5>
				<h6>
					<span>Cloud + Open Source</span><span class="location">Michigan</span>
				</h6>
				<dd class="bio">
					<p>With over 10 years of design and development experience, I bring expertise from all aspects of web development and design. From front-end development to backend development, I specialize in cloud solutions that work on all devices.</p>
				</dd>
		   </div>
		   <div>
		   		<div class="portrait">
					<img src="//dddb43dxo5lmp.cloudfront.net/team/ionut-circle.jpg" title="Ionut Stan">
				</div>
				<h5>Ionut Stan</h5>
				<h6>
					<span>Programming</span><span class="location">Germany</span>
				</h6>
				<dd class="bio">
					<p>I live in a world that most don’t understand. Coding isn’t easy, but I love doing it.</p>
				</dd>	
		   </div>
		   <div>
		   		<div class="portrait">
					<img src="//dddb43dxo5lmp.cloudfront.net/team/matt-circle.jpg" title="Matthew litherland">
				</div>	
				<h5>Matthew litherland</h5>
				<h6>
					<span>Front-End + Mobile</span><span class="location">London</span>
				</h6>
				<dd class="bio">
					<p>I’m a passionate User Experience Designer. I craft sites that make the web an easier place to navigate allowing users to content faster and more efficiently. User interface is my passion and what keeps me working every hour of the day.</p>
				</dd>	
		   </div>
		   <div>
		   		<div class="portrait">
					<img src="//dddb43dxo5lmp.cloudfront.net/team/tliba-circle.jpg" title="Tliba Maher">
				</div>	
				<h5>Tliba Maher</h5>
				<h6>
					<span>Security + Assurance</span><span class="location">France</span>
				</h6>
				<dd class="bio">
					<p>My job is to protect your site from shady characters. By having a “good hacker” on your side, you can be sure that the less-than-desirable ones won’t be able to access your site.</p>
				</dd>
		   </div>
		</dl>
	</div>	
</section>	

<section class="featured-case-study">
	<blockquote class="featured-case-study-quote">
			{% for client in site.data.casestudies %}
			  {% if client.id == 'platinumprofitness' %}
				<h3>{{ client.quote }}</h3>
				<cite><div class="img-thumbnail-circle"><img src="{{client.clientimage}}"></div>{{client.author}}</cite>
				{% endif %} 
			{% endfor %}
	</blockquote>
	<a href="" class="btn btn-transparent">Read the Case Study</a>	
</section>

<section class="what-not-to">
	<div class="container center">
		<h3>What is INFINITUS?</h3>
		<p>Infinitus is the Latin word for <em>limitless</em>. When you remove traditional boundaries like geographical reach, company size and access to talent, you can start to scale using technology + digital marketing. Your growth can really be <strong>limitless</strong>.</p>
	</div>	
</section>	