/************************
******   HR    *******
**** Version: 0.0.1 *****
*************************/

/* Horizontal Rules
--------------------------------------------------*/

hr {
  display: block;
  background: none;
  margin: 2em 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #dce0d9;
}