/* Lists
--------------------------------------------------*/

ul, ol {
  margin-bottom: ($base-unit * 3);
}

ul {
  list-style: none outside;
}

ol {
  list-style: decimal;
  margin-left: ($base-unit * 3);
}

ul {
  &.square, &.circle, &.disc {
    margin-left: ($base-unit * 3);
  }
  &.square {
    list-style: square outside;
  }
  &.circle {
    list-style: circle outside;
  }
  &.disc {
    list-style: disc outside;
  }
  ul, ol {
    margin: $base-unit 0 $base-unit ($base-unit * 3);
    font-size: 90%;
  }
}

ol {
  ol, ul {
    margin: $base-unit 0 $base-unit ($base-unit * 3);
    font-size: 90%;
    li{

    }
  }
}

ul {
  ul li, ol li {
    margin-bottom: $base-unit;
  }
}

ol {
  ol li, ul li {
    margin-bottom: $base-unit;
  }
}

li {
  line-height: inherit;
  margin-bottom: ($base-unit * 2);
}

ul.large li, li p {
  line-height: inherit;
}

.list-bordered {
  list-style-type: none;
  margin: 0 0 ($base-unit * 3) 0;
  padding: 0;
  li {
    margin-bottom: $base-unit;
    padding-bottom: $base-unit;
    border-bottom: 1px dashed #c7ced6;
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom-width: 0;
    }
  }
}



.inline-list {
  margin-top: $gutter;
  display: block;
  width: 100%;
  @include clearfix();
  
  @media(min-width: 55em) {
    display: table;
    margin-top: $gutter * 3;
  }
  li {

	  @include column(6);
	  text-align: center;
	  color: lighten($green, 5%);
      margin-top: $gutter + 2;
      margin-bottom: $gutter*2;
      background: $white;
	
	  @media(min-width: 55em){
	    float: none;
	    display: table-cell;
	    width: auto;
	    margin: 0 $gutter/4;
	  }
	  
	  span {
	   @include font-size($baseh2);
	   border: 2px solid lighten($green, 5%);
	   padding: $gutter;
	   border-radius: 50em; 
	  }
	
	  h6{
	    margin-top: 13%;
	    font-weight: $heavy;
	    text-align: center;
	  }
  }	
}

// Team list

.team-list{
  display: block;
  margin-top: $gutter;
  width: 100%;
  @include center-block;
  text-align: left;
  @include clearfix();
  div{
    width: 100%;
    padding: ($base-unit * 2) 0 0;
    vertical-align: top;
    border-top: 1px solid #ddd;
    display: inline-block;
    margin-right: 0;
    @media(min-width: 45em){
      width: 48%;
      margin: 0 1.1% 0 0;
    }
    @media(min-width: 65em){
      width: 30%;
      display: inline-block;
    }
    @media(min-width: 75em) {
      width: 32%;
      display: inline-block;
    }
    
    .portrait{
      float: left;
      padding: 0;
      width: 80px;
      height: 80px;
      margin-right: 10px;
      margin-bottom: 5px;
      @include vendorize(border-radius, 50em);
      border: 1px solid $offwhite;
      overflow: hidden;
      img{
        @include vendorize(border-radius, 50em);
      }
    }
    h5, h6, p{
      text-align: left;
    }
    h5 {
      margin-bottom: 4px;
      font-weight: $heavy;
    }
    h6{
      font-size: 60%;
    }
    span{
      display: block;
    }
    .location{
      color: $darkorange;
      margin-top: 4px;
      &:before{
        font-family: icomoon;
        content: "\e643";
        margin-right: ($base-unit - 3);
      }
    }
    .bio {
      clear: both;
	  padding: 0 10px 20px 0;
    }
  }
}





.featured-list{
  display: block;
  margin-top: $gutter;
  width: 100%;
  @include center-block;
  text-align: center;
  color: $white;
  @include clearfix();
  .featured-list-item{
    width: 100%;
    padding: ($base-unit * 2) 0 0;
    vertical-align: top;
    display: inline-block;
    margin-right: 0;
    @media(min-width: 45em){
      width: 48%;
      margin: 0 1.1% 0 0;
    }
    @media(min-width: 65em){
      width: 32%;
      display: inline-block;
    }
    a{
      color: $white;
    }
    
    h5, p{
      text-align: center;
    }
    .panel{
      margin-bottom: 4em;
    }
    .panel__header {
      padding-bottom: .8em;
	  position: relative;
	  margin-bottom: 1em;
      &:after {
        display: block;
		content: "";
		width: 80px;
		height: 5px;
		background-color: rgba($black-20, .3);
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -40px;
      }
      h5 {
        margin-bottom: 4px;
        font-weight: $heavy;
        color: $white;
      }
    }
  }
}


.results-list{
  width: 100%;
  display: block;
  margin-top: $gutter * 7;
  width: 100%;
  @include center-block;
  text-align: center;
  @include clearfix();
  div{
    padding: 0; 
  }
  .results-list-item{
    width: 100%;
    display: block;
    position: relative;
    border-top: 1px solid rgba(211, 131, 18, 0.75);
	border-bottom: 1px solid rgba(168, 50, 121, 0.75);
	border-radius: 5px;
	margin-bottom: ($base-unit * 8);
	&:before, &:after{
	  content: "";
	  position: absolute;
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(211, 131, 18, 0.75)), to(rgba(168, 50, 121, 0.75)));
	  background-image: -webkit-linear-gradient(rgba(211, 131, 18, 0.75), rgba(168, 50, 121, 0.75));
	  background-image: -moz-linear-gradient(rgba(211, 131, 18, 0.75), rgba(168, 50, 121, 0.75));
	  background-image: -o-linear-gradient(rgba(211, 131, 18, 0.75), rgba(168, 50, 121, 0.75));
	  background-image: linear-gradient(rgba(211, 131, 18, 0.75), rgba(168, 50, 121, 0.75));
	  top: 2px;
	  bottom: 8px;
	  width: 1px;
	  border-radius: 10px;
	}
	&:before{
	  left: 0px;
	}
	&:after{
	  right: 0px;
	}
    @media(min-width: 55em){
      @include column(4);
      padding: 0;
      margin-bottom: 0;
      &.padded{
        margin-top: -100px;
      }
    }
    .top-portion{
      position: relative;
      margin-top: -15px;
      margin-bottom: 30px;
      span{
        @include font-size($baseh3);
        color: rgba(211, 131, 18, 0.75);
        border: 2px solid rgba(211, 131, 18, 0.75);
        border-radius: 50em;
        padding: ($base-unit * 2);
        background: $white;
      }
      
    }
    .mid-portion{
      padding: 10px 30px;
    }
    .bottom-portion {
      background: rgba(168, 50, 121, 0.75);
      padding: 10px 0;
      	border-radius: 0 0 5px 5px;
      h5{
        color: $white;
        margin-bottom: 0;
        font-weight: $heavy;
      } 
    }
  }
}


.podcast-list{
  width: 100%;
  display: block;
  @include clearfix();
  li{
    @include column(12);
    @media(min-width: 45em) {
      @include column(4);
    }
  }
}


.checkmark-list {
  width: 100%;
  display: block;
  position: relative;
  @include clearfix();
  li{
    width: 100%;
    display: block;
    text-align: left;
    padding-left: 28px;
    margin-bottom: $gutter;
    @media(min-width: 55em) {
      @include column(6);
      margin-bottom: $gutter;
    }
    &:before {
      font-family: "icomoon";
      content: "\e6ce";
      display: inline-block;
      color: $light-orange;
      margin-left: -22px;
     }
  }
}

.checkers-list {
  width: 100%;
  display: block;
  position: relative;
  @include clearfix();
  li{
    width: 100%;
    display: block;
    text-align: left;
    padding-left: 28px;
    margin-bottom: ($base-unit * 2);
    &:before {
      font-family: "icomoon";
      content: "\e6fe";
      display: inline-block;
      color: $light-orange;
      margin-left: -30px;
	  margin-right: 14px;
     }
  }
}
