---
layout: blog
class: "single"
---

{% capture readtime %}{{ page.content | number_of_words | plus:91 | divided_by:180 }}{% endcapture %}

<section class="post bg-offwhite">
	<!-- AddThis Smart Layers BEGIN -->
	<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-537a37b0126fe596"></script>
	<script type="text/javascript">
	  addthis.layers({
	    'theme' : 'transparent',
	    'domain' : 'goinfinitus.com',
	    'share' : {
	      'position' : 'left',
	      'numPreferredServices' : 5,
	      'desktop' : true,
		  'mobile' : true,
	    }, 
	  });
	</script>
	<!-- AddThis Smart Layers END -->
	<div class="container">
		<article class="single-post">
			<img src="{{page.image}}">
			<div class="single-post__inner">
			<p class="meta">{{ page.date | date_to_string }} &bull; {% if readtime == '0' %} &lt; 1{% else %}{{ readtime }}{% endif %} min. read &bull; <a href="#disqus_thread" data-disqus-identifier="{{ page.path | split:'/' | last | cgi_escape }}">View Comments</a></p>
		{{ content }}
		
		{% include comments.html %}
		</div>
		</article>
		<aside class="blog-sidebar">
			<h4>Latest Podcasts</h4>
			<ul class="podcast-list">
			{% for post in site.categories['podcast'] limit:3 %}
			<li>
			<a href="{{site.baseurl}}{{ post.url }}">
				<div class="imgContainerSecondary">
					<img src="{{ post.image }}">
				</div></a>
			</li>	
			{% endfor %}
			</ul>
			<hr>
			<h4>Latest Posts</h4>
			<ul class="grid-list">
			{% for post in site.categories['blog'] offset:1 limit:3 %}
			<li class="item">
			<a href="{{site.baseurl}}{{ post.url }}">
				<div class="imgContainerSecondary">
					<img src="{{ post.image }}">
					<h5>{{ post.title }}</h5>
				</div></a>
			</li>	
			{% endfor %}
			</ul>
			<div class="backToPost">
			<a href="{{site.baseurl}}resources" class="btn btn-alt btn-lrg">Back to all posts</a>
			<div>
		</aside>	
	</div>	
</section>
