{% include html-header.html %}

{% for client in site.data.casestudies %}
   {% if client.id == page.id and client.publish == true %}
<div class="header header-white">
		<header class="container banner" role="banner">
			<div class="headerInfo">
				<a href="{{ site.baseurl }}">
					<h1 class="title">INFINITUS Marketing + Technology</h1>
				</a>
			{% include navigation.html %}
			</div>
		</header>
		<div class="container page-title">
			<div class="titleborder">
			<h2>{{ client.title }}</h2>
			</div>	
		</div>
</div>

    <main class="main" role="main">
        {{ content }}
        <section class="page">
			<div class="center">
				<a href="{{client.url}}" class="btn btn-transparent-green btn-lrg">Visit the site</a>
		    </div>
		</section>
		{% if client.quote %}
       	<section class="featured-case-study">
			<blockquote class="featured-case-study-quote">
						<h3>{{ client.quote }}</h3>
						<cite><div class="img-thumbnail-circle"><img src="{{client.clientimage}}"></div>{{client.author}}</cite>
			</blockquote>
		</section>
		{% endif %}
		<section class="portfolio-heading">
	    <h3>View More Case Studies</h3>
	    </section>
		<section class="page worklist">
				{% for client in site.data.casestudies %}
				{% if client.featuredimage %}
				<article class="case-study-grid-item tile">
					<img src="{{client.featuredimage}}" alt="{{ client.title }}"/>
						<div class="hover">
							<a href="{{ site.baseurl }}case-studies/{{client.slug}}" class="tile-link">
								<div class="tile-top">
									<div class="tile-inner">
										<h5>{{ client.title }}</h5>
										<div class="cta-wrapper">
											<span class="cta hollow">Read Case Study</span>
										</div>	
							  		</div>
							    </div>
							</a>
						</div>
					</article>
					{% endif %}	
				{% endfor %}
		        <article class="workwithus">
			       <div class="tile-link">
			       <div class="tile-top">
				    	<div class="tile-inner">
			       			<h3>Learn More about what we offer<h3>
				         		<div class="cta-wrapper">
									<a href="{{ site.baseurl }}how-we-help" class="btn">Learn More</a>
								</div>
				    		</div>
				  		</div>
				</div>

			    </article>	
		</section>
   </main>
    {% endif %}
{% endfor %}

{% include footer.html %}